<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../handle/public/form.css">
    <title>Agregar productos</title>
  </head>
  <body>
      <div>
          <a href="/productos">Ver Productos</a>
        <form action="/productos" method="POST" class="form-products">
        <h4>Formulario para agregar productos</h4>
        <p>Nombre</p>
        <input
          class="controls"
          name="title"
          type="text"
          placeholder="Nombre del producto"
          required
        />
        <p>Precio</p>
        <input
          class="controls"
          name="price"
          type="number"
          placeholder="Precio del producto"
          required
        />
        <p>Imagen(URL)</p>
        <input
          class="controls"
          name="imgUrl"
          type="text"
          placeholder="Imagen(URL)"
          required
        />        
        <input class="buttons" type="submit" value="Agregar" />
      </form>
    </div>
  </body>
</html>